<div class="bg">
    <h2 class="text-uppercase font-weight-bold text-center" style="color: black;">subject-details </h2><hr>

    <!-- sort out buttons start-->
    <div class="container  text-center bg-info" style="padding: 1%;" >
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" (click)="selecta()">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>allstudents
            </label>
            <label class="btn btn-secondary" (click)="select6()">
                <input type="radio" name="options" id="option2" autocomplete="off">grade 6
            </label>
            <label class="btn btn-secondary" (click)="select7()">
                <input type="radio" name="options" id="option2" autocomplete="off">grade 7
            </label>
            <label class="btn btn-secondary" (click)="select8()">
                <input type="radio" name="options" id="option2" autocomplete="off">grade 8
            </label>
            <label class="btn btn-secondary" (click)="select9()">
                <input type="radio" name="options" id="option2" autocomplete="off">grade 9
            </label>
            <label class="btn btn-secondary" (click)="select10()">
                <input type="radio" name="options" id="option2" autocomplete="off">grade 10
            </label>
            <label class="btn btn-secondary" (click)="select11()">
                <input type="radio" name="options" id="option2" autocomplete="off">grade 11
            </label>
        </div>
    </div>
    <!-- sort out buttons ends-->
</div>
