<app-top-bar></app-top-bar><!--top bar-->
<app-nav-bar></app-nav-bar><!--navigation bar-->

<div class="container">
    <div class="anouncement">
        <label>anouncements</label>
    </div><!--any new anouncements are updated-->

    <div class="option">
    
        <div class="profile">

            <!--{{name.toUpperCase()}} need to uncoment-->
            <button class="btn btn-primary" (click)="update(profile)" >update profile</button>
        
        </div><!--button reports-->
            
        <div class="report-group">

            <label>Subject Details</label>

        </div><!--view report-->

    </div><!--options-->

</div>