<h1>welcome {{ name }} </h1>
<hr>

<!--any new anouncemrs are posted-->
<div class="form-group">
    <label>anouncements</label>
</div>

<!--signout and reach login interface-->
<button (click)="signout(login)">Sign out</button>
<img src="">

<!--intended navigation bar-->
<nav>

    <!--all the teachers-->
    <div>
        <a href="/teacher-details" (click)="tchrdetails()" >teacher-details</a>
        <img>
    </div>

    <!--all the subjects-->
    <div>
        <a href="/subjects-details" (click)="studen-details()" >subjects-details</a>
        <img>
    </div>
</nav>

<!--subjects folloing by student-->
<div>
    <label>subjects following</label>
    <output></output>
</div>

<!--content-->
<div class="content">

    <!--profile-->
    <img><br>
    {{name.toUpperCase()}}
    <button>update profile</button>

    <!--subject detail of studdent following is displayed-->
    <label>Subject Details</label>
    <output></output>

</div>
