/*top bar*/
app-top-bar {
  position: relative;
  width: 100%;
  height: fit-content;
  top: 0%;
  left: 0%;
  background-color:blue;
  justify-content: space-between;
}

/*anouncements*/
app-anouncement{
  left: 16%;
  right: 0%;
  height: 40%;
  bottom: auto;
  position: absolute;
}

/*nav bar*/
app-nav-bar{
  left: 0%;
  right: 85%;
  bottom: auto;
  position: absolute;
  line-break: anywhere;
  height: inherit;
  border-right: #777474 solid 3px;
}

/*stdnt hom*/
app-stdnt-home{
  position: inherit;
  left: 0%;
  width: calc(100%);
  height: 100%;
  top:2%;
}

/*admin home*/
app-admin-home{
  position: inherit;
  left: 0%;
  width: calc(100%);
  height: 100%;
  top:2%;
}

/*parent hom*/
app-parent-home{
  position: inherit;
  left: 0%;
  width: calc(100%);
  height: 100%;
  top:2%;
}

/*teacher hom*/
app-teacher-home{
  position: inherit;
  left: 0%;
  width: calc(100%);
  height: 100%;
  top:2%;
}

/*links a*/
a{
    position: relative;
    display: block;
    margin: 0%;
    height: 100%;
    top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }