/* You can add global styles to this file, and also import other style files */
app-top-bar {
  position: fixed;
  left: 20%;
  width: calc(100% - 20%);
  height: 10%;
  background-color: rgb(1, 126, 119);
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-nav-bar{
  left: 0%;
  position: fixed;
  width: 20%;
  top: 0px;
  bottom: 0px;
  height: 100%;
  background-color: rgb(1, 126, 119);
  white-space: nowrap;
  margin: 0%;
  overflow: auto;
  padding-left: 1%;
}

.btn-primary{
  background-color: rgb(210, 218, 217);
  border-color: rgb(1, 126, 119);
  color: black;
  border-bottom-color: black;
  border-right-color: black;
  text-transform: uppercase;
  border-radius: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;

}
.btn-primary[disabled]{
  background-color: rgba(210, 218, 217, 0.644);
  border-color: violet;
}

.btn-primary:hover:not(.active)[disabled]{
  background-color: rgba(210, 218, 217, 0.644);
  border-color: violet;
}

.btn-primary:hover:not(.active){
  background-color: lightseagreen;
  color: white ;
}

.btn-primary.active{
  background-color:  rgb(1, 48, 45);
  color: white;
  border-color: white;
  border-width: 5px;
}

.anouncement{
  border-radius: 15px;
}

a{
    position: relative;
    display: block;
    margin: 0%;
    height: 100%;
    top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
}