form{
    position: absolute;
    height: 100%;
    width: 100%;
    padding:0%;
    margin-top: -1%;
    left: 0;
    right: 0;
}
h1{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.5em;
    padding: 0%;
    top: 0%;
    margin: 0%;
    left:250px;
    width:calc(99% - 250px);
    background-color: rgb(1, 126, 119);
    font-family: cursive;
}

hr{
    position: relative;
    background-size: unset;
    top: 1%;
    margin: 0%;
    padding: 0%;
    width: 99%;
    height:5px;
    background-color: rgb(1, 126, 119);
}

.container{
    position: relative;
    width: 99%;
    height: calc(96% - 3.5em - 6px);
    bottom: 1%;
    left: 0%;
    padding: 0%;
    top: 2%;
}

.sidebar{
    position: fixed;
    height: calc(98% + 10px);
    background-color: rgb(1, 126, 119);
    align-items: center;
    width: calc(250px - 1%);
    white-space: nowrap;
    overflow: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0%;
    top: 0;
    margin: 0%;
}

.body{
    position: absolute;
    width: calc(98% - 250px);
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 10px;
    height: calc(100% - 10px);
    top: 0%;
    left: calc(250px + 2%);
    margin: 0%;
}

.anouncement{
    background-color: rgb(185, 218, 215);
    position: relative;
    height: 20%;
    width: 99%;
    align-items: center;
}

.option{
    position: relative;
    height: 99%;
    top: 1%;
    width: 99%;
}

.signout{
    position: absolute;
    right: 0%;
    top: 1%;
    width: 20%;
    transform: translate(-1%, 1%);
    background-color: rgb(1, 126, 119);
}

.addanouncement{
    position: absolute;
    left: 50%;
    top: 1%;
    width: 50%;
    transform: translate(-50%, 1%);
}

.salary{
    position: absolute;
    right: 0%;
    top: 10%;
    width: 40%;
    transform: translate(-1%, 1%);
}

.overrall{
    position: absolute;
    left: 0%;
    top: 10%;
    width: 40%;
    transform: translate(1%, 1%);
}

.fees{
    position: absolute;
    left: 50%;
    top: 20%;
    width: 50%;
    transform: translate(-50%, 1%);
}

.report-group{
    position: absolute;
    left: 1%;
    top: 26%;
    width: 99%;
    height: 99%;
    transform: translate(0%, 2%);
    background-color: rgba(1, 126, 120, 0.096);
}

button{
    padding: 01%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 10px;
    border-color: rgb(1, 126, 119);
}

button:hover{
    background-color: lightseagreen;
    color: white ;
}

a{
    position: relative;
    display: block;
    margin: 0%;
    height: 100%;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.title-group{
    position: relative;
    height: 15%;
    width: 100%;
    text-align: center;
}

.title{
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 200%;
    white-space: normal;
}

.navigation{
    position: relative;
    height: 25%;
}

.refernce-group{
    position: relative;
    height: calc(100% / 3);
    width: 100%;
    text-align: center;
}

.info-group{
    position: relative;
    background-color: rgba(255, 255, 255, 0.384);
    height: 60%;
    white-space: nowrap;
    text-align: center;
}

.info-group-title{
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 3px;
    top: 3%;
    text-decoration: underline;
}

.refernce-group:hover:not(.active){
    background-color: #555;
}
a:hover:not(.active){
    color: rgb(0, 255, 242);
}

.refernce-group.active {
    background-color: #4CAF50;
  }