<h1>welcome {{ name }} </h1>
<hr>
<!--any new anouncements are updated-->
<div class="form-group">
    <label>anouncements</label>
</div>
<!--navigation bar -->
<nav>
    <!--all the sttudents-->
    <div>
        <a href="/studen-details" (click)="studetails()" >Student details</a>
        <img>
    </div>

    <!--all the teachers-->
    <div>
        <a href="/teacher-details" (click)="tchrdetails()" >teacher-details</a>
        <img>
    </div>

    <!--all subjects-->
    <div>
        <a href="/subject-details" (click)="subdetails()" >subject-details</a>
        <img>
    </div>
</nav>

<!--the subjects-->
<div>
    <label>subjects teaching</label>
    <output></output>
</div>

<!--create nes anouncement-->
<button>Add anouncements</button>

<!--signout and reach login interface-->
<button (click)="signout(login)">Sign out</button>
<img>

<!--view reports-->
<button (click)="salarypayment(salary)" >salary payment report</button>
<button (click)="feespayment(fees)" >monthly fees payment report</button>
<button (click)="overallreport(overall)" >ovrall report</button>
<output>reports</output>
