.container{
    left: 25%;
    width: 73%;
    top: 55%;
    height: fit-content;
    bottom: auto;
    position: absolute;
    padding: 0%;
}

.option{
    left: 0%;
    right: 0%;
    height: 40%;
    top: 40%;
    bottom: auto;
    position: absolute;
}