<!--<app-top-bar></app-top-bar>top bar-->
<app-anouncement></app-anouncement>
<div class="container">
    <div class="row">
        <!--user details start-->
        <div class="col-md-5" >
            <div style="text-align: center;">
                <svg class="bi bi-person-circle" width="50%" height="50%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path style="color: rgb(7, 71, 248);" d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path style="color: rgb(7, 71, 248);" fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
            </div>
            <br>
            <div class="row" style="justify-content: center;">
                <button class="btn btn-primary text-uppercase" (click)="update(profile)" >update profile</button>
            </div>
        </div>

        <div  class="col-md-5 align-self-center">
            <div *ngFor = "let user of users" >
                <div class="row " *ngIf = "user.password == id">
                    <div class="col-md-5 ">
                        <h5>Parent NIC </h5>
                        <h5>Parent Name </h5>
                    </div>
                    <div class="col-md-6">
                        <h5>:-  {{id}}v</h5>
                        <h5 class="text-capitalize" >:-  {{user.name}} </h5>
                    </div>
                </div>
            </div>
        </div><!-- user details end -->
    </div>
    <!--button reports-->    
    <div class="report-group">
        <h3><u>Childrens</u></h3>
        <div *ngFor ="let children of childrens ; let i ='index + 1'">
            <label>{{i}}</label>
            <label *ngIf = "children.sParentNIC == id">Name :{{children.name}}</label><br>
            <label *ngIf = "children.sParentNIC == id">Grade:{{children.sGrade}}</label>
        </div>

        <label>reports</label>
        <!-- google chart start -->
        <div *ngFor ="let children of childrens ; let i ='index + 1'" 
            class="row" style="height: 100%;">
            <google-chart  #chart 
            [title]="title" 
            [type]="type" 
            [data]= "[ ['Jan',   i],
                        ['Feb',  2],
                        ['Mar',  3],
                        ['Apr',  4],
                        ['May',  5],
                        ['Jun',  6],
                        ['Jul',  7],
                        ['Aug',  8],
                        ['Sep',  9],
                        ['Oct',  10],
                        ['Nov',  11],
                        ['Dec',  12]
                    ]"
            [columns]=" ['Month', children.name]" 
            [options]="options">
            </google-chart> 
        </div>
        <!-- google chart end -->
  
    </div><!--view report-->
    
</div>
<app-nav-bar></app-nav-bar><!--navigation bar-->