<div class="bg">
    <br>
    <div class="row">
        <H2 class="text-uppercase font-weight-bold text-center col-md-8 justify-content-center" style="color: black;" >ANOUNCEMENTS</H2>
        <button class="btn btn-primary col-md-1" (click) = "Home()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
              Home
        </button>
    </div>
    <br>
    <form class="container border border-dark">
        <div class="row" style="background-color: rgb(0, 0, 0); color: white;" >
            <label style="overflow: auto;" class="font-weight-bold col-md-3">heading1 </label>
            <label style="overflow: auto;" class="font-weight-bold col-md-3">heading2 </label> 
            <label style="overflow: auto;" class="font-weight-bold col-md-4">content </label>
        </div><br>

        <div *ngFor="let anouncement of anouncements">
            <div class="row" style="background-color: rgb(64, 70, 70); color: white;" >
                <label style="overflow: auto;" class="font-weight-bold col-md-3">{{anouncement.h1}} </label>
                <label style="overflow: auto;" class="font-weight-bold col-md-3">{{anouncement.h2}} </label> 
                <label style="overflow: auto;" class="font-weight-bold col-md-4">{{anouncement.content}} </label>
            </div>
            <div class="row">
                <br>
                <button class="btn btn-danger col-md-1" style="margin-left: 2%;" (click)="delete(anouncement)">DELETE</button>
                <button class="btn btn-info col-md-1" (click)="update(students)" style="margin-left: 2%;">UPDATE</button>
            </div>
            <hr style="background-color: rgb(0, 0, 0); height: 5px;">
        </div>
        <button class="btn btn-primary" (click)="cretae(anounceent)">create</button>
    </form>
</div>
