<div class="container">
  <h3>A-z English Academy</h3><br>
  <h5>Date : {{ myDate | date: 'MM - dd(E) - yyyy '}} </h5><br>
  <h5>Time : {{ myDate | date: ' h:mm a'}} </h5><br>
  <h5>salary-payment Details </h5>
  <hr>
    
   <!--month selection strt-->
  <div class="form-group" >
    <label>Month : </label>
    <select  name="yaer" class="dropdown btn-info" (change)='onMonthSelected($event)'>
        <option selected> {{monthtoday}}</option>
        <option *ngFor="let month of months"> {{month}}</option>
    </select>
  </div><br>
  <!--month selection end-->

  <!--table container start-->
  <div class="container border border-dar"> 
    <table class="table"><!--table start-->
      <thead><!--table haedins start-->
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">NIC</th>
          <th scope="col">Qualification</th>
          <th scope="col">Date</th>
          <th scope="col">Amount(Rs.)</th>
        </tr>
      </thead><!--table haedins end-->
      <tbody><!--table body start-->
        <tr *ngFor = "let payment of payments ; let i = index"><!--table raw start-->
            <th *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) " scope="row"></th>
            <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) " class="text-capitalize">{{payment.name}}</td>
            <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">{{payment.userid}}</td>
            <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">{{payment.qualification}}</td>
            <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">{{payment.date}}</td>
            <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">Rs.({{payment.amount}})</td>
            <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" (click)="delete(payment)">
                <path  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </td>
        </tr><!--table raw end-->
        <tr>
          <th scope="row">**</th>
          <td class="text-caplitalise font-weight-bold text-uppercase"><h4>Total</h4></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-weight-bold"><h4>Rs.{{salarytotal}}</h4></td>
        </tr>
      </tbody><!--table body end-->
    </table><!--table end-->
  </div>
  <!--table container end-->   
  
  
  <hr>

  <!--year selection strt-->
  <div class="form-group" >
      <label>Year : </label>
      <select  name="yaer" class="dropdown btn-info" (change)='onYearSelected($event)'>
          <option selected> {{yeartoday}}</option>
          <option *ngFor="let year of years"> {{year}}</option>
      </select>
  </div><br>
  <!--year selection end-->

  <!-- google chart strt -->
  <div class="row" style="height: 100%;">
    <google-chart  #chart
      [title]="title" 
      [type]="type" 
      [data]= "[ ['Jan',   salaryarray[1] ],
                    ['Feb',  salaryarray[2] ],
                    ['Mar',  salaryarray[3] ],
                    ['Apr',  salaryarray[4] ],
                    ['May',  salaryarray[5] ],
                    ['Jun',  salaryarray[6] ],
                    ['Jul',  salaryarray[7] ],
                    ['Aug',  salaryarray[8] ],
                    ['Sep',  salaryarray[9] ],
                    ['Oct',  salaryarray[10] ],
                    ['Nov',  salaryarray[11] ],
                    ['Dec',  salaryarray[12] ]
                ]"
      
      [columns]="columnNames" 
      [options]="options">
    </google-chart>
    
  </div><!-- google chart end -->
</div>


<!--whole report strt-->
<div class="container">
  <button *ngIf = "!clicked" class=" btn btn-warning" (click)="whole()">Hide Whole Report</button>
  <button *ngIf = "clicked" class=" btn btn-warning" (click)="whole()">View Whole Report</button>
</div>

<hr>
<br><br>
<div class="container border border-dar" *ngIf = "!clicked">
  <table class="table"><!--table start-->
    <thead><!--table haedins start-->
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">NIC</th>
        <th scope="col">Qualification</th>
        <th scope="col">Date</th>
        <th scope="col">Amount(Rs.)</th>
      </tr>
    </thead><!--table haedins end-->
    <tbody><!--table body strat-->
      <tr *ngFor = "let payment of payments ; let i = index"><!--table raw start-->
          <th *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) " scope="row"></th>
          <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) " class="text-capitalize">{{payment.name}}</td>
          <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">{{payment.userid}}</td>
          <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">{{payment.qualification}}</td>
          <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">{{payment.date}}</td>
          <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">Rs.({{payment.amount}})</td>
          <td *ngIf="(payment.month == monthtoday) && (payment.year == yeartoday) ">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg" (click)="delete(payment)">
              <path  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </td>
      </tr><!--table raw end-->
      <tr>
        <th scope="row">**</th>
        <td class="text-caplitalise font-weight-bold text-uppercase"><h4>Total</h4></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold"><h4>Rs.{{salarytotal}}</h4></td>
      </tr>
    </tbody><!--table body end-->
  </table><!--table end-->
</div>
<!--whole report end-->
