.bg{
    /*background:url('../../assets/background.jpg') no-repeat center;*/
    background:url('../../assets/background.jpg') no-repeat center;
    background-size: cover ;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: auto;
}