<h1>Taecher Registration Form</h1>
<form class="container border border-success" #teacherregistrationForm="ngForm">
    <!--{{teacherregistrationForm.form.valid}}-->
    <div>
        <label id="unamelbl" class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label"> Name : </label><br>
        <input 
            required ngModel name="name" #name="ngModel" type="text" placeholder="Enter Full Name" class="form-control"
        >
        <small class="text-danger text-uppercase font-weight-bold" *ngIf="name.invalid && name.touched">feild required</small>
    </div>

    <div>
        <label id="ucontactlbl" class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label"> Contact Number : </label><br>
        <input 
            required type="tel" class="form-control col-md-4"
        >
    </div>

    <div>
        <h2 id="utypelbl"> USER TYPE </h2>
        <div id="utypeselect">
            <div class="row">
                <label class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label">
                <input disabled name="user" type="radio" >
                :Student</label>
            </div>

            <div class="row">
                <label class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label">
                <input disabled name="user" type="radio" >
                :Teacher</label>
            </div>
            <div class="row">
                <label class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label">
                <input disabled formControlName="user" name="user" type="radio" class="radio align-self-center" value="Parent">
                : Parent </label>
            </div>
        </div>
        <button (click)="change(create)" class="btn btn-info">change</button>
    </div>
    
    <div>
        <h2>Subjects Teaching</h2><br>
        <div *ngFor="let subject of subjects">
            <input
                ng-repeat="subject in subjects" type="checkbox"
            >
            <label class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label">
            {{subject}}</label>
        </div>
    </div>

    <hr>
    <div>
        <label id="uidlbl" class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label"> NIC: </label><br>
        <input 
            required ngModel name="userid" #userid="ngModel" type="text" placeholder="this will be Your username " class="form-control col-md-4"
        >
        <small class="text-danger text-uppercase align-self-center font-weight-bold col-md-4 col-form-label" *ngIf="userid.invalid || userid.untouched">feild required</small>
    </div>

    <div>
        <label id="passwordlbl" class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label"> Password : </label><br>
        <input
            required ngModel name="password" #password="ngModel" type="password" placeholder="5-8 Characters" class="password"
        >
        <small class="text-danger text-uppercase align-self-center font-weight-bold col-md-4 col-form-label" *ngIf="password.invalid || password.untouched">feild required</small>
    </div>
    <div>
        <label id="cpasswordlbl" class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label"> Confirm Password : </label><br>
        <input 
            required ngModel name="cpassword" #cpassword="ngModel" type="password" placeholder="Re-Enter the password" class="password"
        >
        <small class="text-danger text-uppercase align-self-center font-weight-bold col-md-4 col-form-label" *ngIf="(cpassword.value != password.value) && cpassword.touched">feild required</small>
    </div>

    <small class="text-info text-uppercase font-weight-bold" *ngIf="teacherregistrationForm.form.invalid && teacherregistrationForm.form.touched">

        ***fill the required feilds and submit the form ( --form incomplete --)
    </small>

    <button [disabled]="teacherregistrationForm.form.invalid" type="submit"> Submit Form </button>
</form>