h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    text-decoration-line: underline;
    
}

h2{
    text-transform: uppercase;
    margin-bottom: 0px;
}
.bg{
    background:url('../../assets/background2.jpg') no-repeat center;
    background-size: cover ;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: auto;
}

hr{
    height: 3px;
    background-color: rgba(136, 136, 136, 0.842);
}

button{
    background-position: unset;
    position: absolute;
    margin: -15px 20% 15px 0;
    padding: 5px 10px 5px 10px;
    bottom: 100;
    right: 0;
    background-color: rgb(55, 255, 20);
    font-family: cursive;
    font-weight: bolder;
    text-transform: uppercase;
}

hr{
    height: 3px;
    background-color: rgba(136, 136, 136, 0.842);
}
