<h1>Taecher Registration Form</h1>
<form>
    <div>
        <label id="uidlbl"> User id : </label>
        <input required type="text" placeholder="eg:-AZ/T/XXX" id="unameinput">
    </div>
    
    <div>
        <label id="unamelbl"> Name : </label>
        <input required type="text" placeholder="Enter Full Name" id="uidinput">
    </div>

    <div>
        <label id="ucontactlbl"> Contact Number : </label>
        <input required type="tel" id="ucontactinput">
    </div>

    <div>
        <label id="utypelbl"> USER TYPE </label>
        <div id="utypeselect">
            <label >Student : </label>
            <input name="user" type="radio" ><br>

            <label >Teacher : </label>
            <input name="user" type="radio" ><br>

            <label >Parent   : </label>
            <input name="user" type="radio" >
        </div>
        
    </div>
    <div>
        <label>Subjects Teaching</label><br>
        <div *ngFor="let subject of subjects">
            <input ng-repeat="subject in subjects" type="checkbox" id="">
            {{subject}}
        </div>
    </div>

    <hr>
    <div>
        <label id="usenamelbl"> User Name : </label>
        <input required type="text" placeholder="User name for login" id="useranmeinput">
    </div>

    <div>
        <label id="passwordlbl"> Password : </label>
        <input required type="password" placeholder="5-8 Characters" id="passwordinput">
    </div>
    <div>
        <label id="cpasswordlbl"> Confirm Password : </label>
        <input required type="password" Re-Enter the password id="cpasswordinput">
    </div>


    <button type="submit"> Submit Form </button>
</form>