<h1>Taecher Registration Form</h1>
<form class="container border border-success" [formGroup]="addForm" #teacherregistrationForm="ngForm" (ngSubmit)= "onSubmit()" novalidate>
    <!--{{teacherregistrationForm.form.valid}}-->
    <div>
        <label id="unamelbl" class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label"> Name : </label><br>
        <input 
            required formControlName="name" name="name"  type="text" placeholder="Enter Full Name" class="form-control"
        >
        <small class="text-danger text-uppercase font-weight-bold" *ngIf="addForm.get('name').invalid && addForm.get('name').touched">feild required</small>
    </div>

    <div>
        <label id="ucontactlbl" class="text-uppercase align-self-center font-weight-bold  col-form-label"> Contact Number : </label><br>
        <input 
            type="tel" class="form-control col-md-4" formControlName="contact" name="contact"
        >
    </div>

    <div>
        <h2 id="utypelbl"> USER TYPE </h2>
        <div id="utypeselect">
            <div class="row">
                <label class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label">
                <input disabled formControlName="user" name="user" type="radio" class="radio align-self-center" value="Student">
                :Student</label>
            </div>

            <div class="row">
                <label class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label">
                <input disabled formControlName="user" name="user" type="radio" class="radio align-self-center" value="Teacher">
                :Teacher</label>
            </div>
            <div class="row">
                <label class="text-uppercase align-self-center font-weight-bold col-md-2 col-form-label">
                <input disabled formControlName="user" name="user" type="radio" class="radio align-self-center" value="Parent">
                : Parent </label>
            </div>
        </div>
        <button (click)="change(create)" class="btn btn-info">change</button>
    </div>
    
    <div>
        <h2>Subjects Teaching</h2><br>
        <div *ngFor="let subject of subjects">
            <input
                formControlName="subjects" name="subjects" 
                ng-repeat="subject in subjects" type="checkbox" class="checkbox"
            >
            <label class="text-uppercase font-weight-bold" >
            {{subject}}</label>
        </div>
    </div>

    <hr>
    <div>
        <label id="uidlbl" class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label"> NIC: </label><br>
        <input 
            required formControlName="userid" name="userid" type="text" placeholder="this will be Your username " class="form-control col-md-4"
        >
        <small class="text-danger text-uppercase align-self-center font-weight-bold col-md-4 col-form-label" *ngIf="addForm.get('userid').invalid">feild required</small>
    </div>

    <div>
        <label class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label"> Password : </label><br>
        <input
            required formControlName="password" name="password" type="password" placeholder="5-8 Characters" class="password"
        >
        <small class="text-danger text-uppercase align-self-center font-weight-bold col-md-4 col-form-label" *ngIf="addForm.get('password').invalid">feild required</small>
    </div>
    <div>
        <label id="cpasswordlbl" class="text-uppercase align-self-center font-weight-bold col-md-4 col-form-label"> Confirm Password : </label><br>
        <input 
            required formControlName="cpassword" name="cpassword"  type="password" placeholder="Re-Enter the password" class="password"
        >
        <small class="text-danger text-uppercase align-self-center font-weight-bold col-md-4 col-form-label" *ngIf="(addForm.get('cpassword').value != addForm.get('password').value) && addForm.get('cpassword').touched">doesnt match with password</small>
    </div>

    <small class="text-info text-uppercase font-weight-bold" *ngIf="teacherregistrationForm.form.invalid && teacherregistrationForm.form.touched">

        ***fill the required feilds and submit the form ( --form incomplete --)
    </small>

    <button
        [disabled]=" ( addForm.get('cpassword').value != addForm.get('password').value ) || teacherregistrationForm.form.invalid" type="submit"
        > Submit Form 
    </button>
    
</form>