.card-img{
    background: url("../../assets/background.jpg")  center center no-repeat ;
    background-size: cover ;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
}


h1{
    position: relative;
    margin: 0%;
    text-align: center;
    letter-spacing: 2px;
}

h3{
    position: relative;
    margin: 0%;
    padding: 1%;
}

.block{
    position: relative;
    top: 4%;
    left: 0%;
    bottom: 0px;
    height: 75%;
    width: 100%;
    margin-bottom: 0%;
    background-color: rgba(248, 248, 248, 0.432);
}


.user{
    background-size: cover;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0%;
    bottom: 10%;
    display: flex;
    height: 60%;
    margin: 0%;
}

.card{
    position: relative;
    height: 100%;
    width: 33.3%;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0);
}

img{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px ;
    border-style: solid;
    border-color: rgb(95, 180, 166);
}
button{
    position: relative;
    font-family: sans-serif;
    background-color: rgb(95, 180, 166);
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}