<body class="card-img">
    <h1>Welcome to A-Z English Acdemy</h1>

    <h3>select your user type......</h3>
    <div class="block">
        <div class="user">
        
            <div class="card">
                <img src="assets/student.png" (click) = "student(stdntcrete)"><br>
                <button class="btn btn-success " (click) = "student(stdntcrete)" >Student</button>
            </div><!--student-->
        
            <div class="card">
                <img src="assets/teacher.png" (click) = "teacher(teachercrete)"><br>
                <button class="btn btn-success" (click) = "teacher(teachercrete)" >Teacher</button>
            </div><!--teacher-->
        
            <div class="card">  
                <img src="assets/parent.png" (click) = "parent(prntcrete)"><br>
                <button class="btn btn-success" (click) = "parent(prntcrete)" >Parent</button>
            </div><!--parent-->
        </div>
    </div>
</body>
