<div class="bg">
    <h2 class="text-uppercase font-weight-bold">teacher-details </h2><hr>
    <div class="container border border-dark">
        <div class="row" style="background-color: rgb(0, 5, 5); color: white;">
            <label class="font-weight-bold col-md-2"> NIC</label>
            <label class="font-weight-bold col-md-2"> Teacher Name </label>
            <label class="font-weight-bold col-md-2" > Teacher Contact </label>
        </div>
        <br>

        <div *ngFor="let teacher of teachers">
            <div class="row" style="background-color: rgb(64, 70, 70); color: white;" >
                <label  class="font-weight-bold col-md-2">{{teacher.Teacher_NIC}} </label>
                <label class="font-weight-bold col-md-2">{{teacher.Name}} </label>
                <label class="font-weight-bold col-md-2" >{{teacher.Contact}} </label>
                <label class="font-weight-bold col-md-2" style="margin-left: 1%;" >{{teacher.Contact}} </label>
                <button class="btn btn-danger col-md-1" (click)="delete(student)" style="margin-left: 2%;">DELETE</button>
                <button class="btn btn-info col-md-1" (click)="delete(student)" style="margin-left: 2%;">UPDATE</button>
            </div>
            <hr style="background-color: rgb(0, 0, 0); height: 5px;">
        </div>

    </div>
</div>

