<div class="side">
    <img class="imgaz" src="assets/az1.png" alt="">

    <h2 style="color: black; background-color: blue;">navigation</h2>

    <div *ngFor="let detail of details">
        <ng-container *ngIf= "teacherhome(); else student" >
            <div *ngIf="(detail.url) != 'teacherhome()'">
                <a class="reference"  style="color: blue;">
                    {{ detail.type }} Details
                </a>
                <hr>
            </div>
            
        </ng-container><!--teacher container-->

        <ng-template #student>
            <div *ngIf="studenthome(); else admin ">
                <div  *ngIf="(detail.url) != 'studenthome()'">
                    <a class="reference" style="color:blue;">
                        {{ detail.type }} Details
                    </a>
                    <hr style="color: blue; height: 3px;">
                </div>
            </div>
        </ng-template><!--student contioner-->
    
        <ng-template #admin>
            <div *ngIf="adminhome(); else otherhome ">
                <div >
                    <a href="{{detail.type}}/details" class="reference" style="color:blue;">
                        {{ detail.type }} Details
                    </a>
                    <hr style="color: blue; height: 3px;">
                </div>
            </div>
        </ng-template><!--admin contioner-->

        <ng-template #otherhome>
            <div>
                <a  class="reference" style="color: blue;">
                    {{ detail.type }} Details
                </a>
            </div>
            
        </ng-template><!--parent-->
        <!-- -->
    </div>
    
    <div class="info-container">
        <ng-container *ngIf= "teacherhome() || adminhome(); else studentparent" >
        
            <h5 style="color: blue;" class="h5">
                Subjects Teaching
            </h5>
            
        </ng-container><!--ng container-->
    
        <ng-template #studentparent>
            <div *ngIf="studenthome() || parenthome();">
                <h5 style="color: blue;" class="h5">
                    Subjects Following
                </h5>
            </div>
        </ng-template><!--student contaoner-->
    
    </div>
</div>
