<img class="imgaz" src="assets/az.png" alt="">


<div *ngFor="let detail of details">
    <ng-container *ngIf= "teacherhome(); else student" >
        <div class="reference" *ngIf="(detail.url) != 'teacherhome()'">
            <a>
                {{ detail.type }} Details
            </a>
        </div>
        
    </ng-container><!--ng container-->
    <ng-template #student>
        <div *ngIf="studenthome(); else otherhome ">
            <div class="reference" *ngIf="(detail.url) != 'studenthome()'">
                <a >
                    {{ detail.type }} Details
                </a>
            </div>
        </div>
    </ng-template><!--student contaoner-->

    <ng-template #otherhome>
        <div class="reference">
            <a >
                {{ detail.type }} Details
            </a>
        </div>
        
    </ng-template><!--other-->
    <!-- -->
</div>

<div class="info-container">
    <ng-container *ngIf= "teacherhome() || adminhome; else studentparent" >
    
        <h5 class="h5">
            Subjects Teaching
        </h5>
        
    </ng-container><!--ng container-->
    <ng-template #studentparent>
        <div *ngIf="studenthome() || parenthome()">
            <h5 class="h5">
                Subjects Following
            </h5>
        </div>
    </ng-template><!--student contaoner-->

</div>