<img class="imgaz" src="assets/az.png" alt="">


<div class="reference" *ngFor="let detail of details">
    <ng-container *ngIf= "teacherhome(); else student" >
        <div *ngIf="(detail.url) != 'teacherhome()'">
            <h3>
                {{ detail.type }} Details
            </h3>
        </div>
        
    </ng-container><!--ng container-->
    <ng-template #student>
        <div *ngIf="studenthome(); else otherhome ">
            <div *ngIf="(detail.url) != 'studenthome()'">
                <h3>
                    {{ detail.type }} Details
                </h3>
            </div>
        </div>
    </ng-template><!--student contaoner-->

    <ng-template #otherhome>
        <h3>
            {{ detail.type }} Details
        </h3>
    </ng-template><!--other-->
    <!-- -->
</div>

<div class="info-container">
    <ng-container *ngIf= "teacherhome() || adminhome; else studentparent" >
        
        <h5>
            Subjects Teaching
        </h5>
        
    </ng-container><!--ng container-->
    <ng-template #studentparent>
        <div *ngIf="studenthome() || parenthome()">
            <h5>
                Subjects Following
            </h5>
        </div>
    </ng-template><!--student contaoner-->

</div>