<app-top-bar></app-top-bar><!--top bar-->
<app-anouncement></app-anouncement>
<div class="container">
    <div class="option">
        <div class="btn btn-grp-primary"></div><!--button reports-->
            <br>
            <svg class="bi bi-person-circle" width="15%" height="15%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path style="color: rgb(7, 71, 248);" d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path style="color: rgb(7, 71, 248);" fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
              </svg>
            <br><br>
            <!--{{name.toUpperCase()}}-->
            <button class="btn btn-primary" (click)="profile(update)" >update profile</button>
            <br><br>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary" (click)="add(quize)">add quize</button>
                <button class="btn btn-primary" (click)="update(quize)" >update quize</button>
            </div>
            

            
        <div class="report-group">

            <label>subject name</label>

        </div><!--view report-->

    </div><!--options-->

</div>
<app-nav-bar></app-nav-bar><!--navigation bar-->