<h1>welcome {{ name }} </h1>
<hr>
<div class="form-group">
    <label>anouncements</label>
</div>
<nav>
    <div>
        <a href="/studen-details" (click)="studen-details()" >student-details</a>
        <img>
    </div>

    <div>
        <a href="/subject-details" (click)="subject-details()" >teacher-details</a>
        <img>
    </div>

</nav>

<div>
    <label>subjects</label>
    <output></output>
</div>
<img><br>
{{name.toUpperCase()}}
<button>update profile</button>
<button (click)="signout(login)">Sign out</button>
<img src="">
<label>subject name</label>
<output></output>
<button>add quize</button>

<button>update quize</button>
