<h1>Parent Registration Form</h1>
<form #parentregisterForm="ngForm" (ngSubmit)= "onSubmit()" novalidate>
    <!--{{parentregisterForm.form.valid}}-->
    <div>
        <label id="unamelbl"> Name : </label><br>
        <input 
            required [(ngModel)]="parent.name" name="name" #name="ngModel"
            type="text" placeholder="Enter Full Name" class="name"
        >
        <small class="warning" *ngIf="name.invalid && name.touched">
            *feild required
        </small>
    </div>

    <div>
        <label id="ucontactlbl"> Contact Number : </label><br>
        <input
        [(ngModel)]="parent.Contact" name="Contact" 
            type="tel" class="tel">
    </div>

    <div>
        <h2 id="utypelbl"> USER TYPE </h2>
        <div id="utypeselect">
            <label >Student : </label>
            <input [(ngModel)]="parent.user" name="user" type="radio" value="Student"><br>

            <label >Teacher : </label>
            <input [(ngModel)]="parent.user" name="user" type="radio" value="Teacher"><br>

            <label >Parent   : </label>
            <input [(ngModel)]="parent.user"  name="user" type="radio" value="Parent">
        </div>
   
    </div><br>

    <hr>
    <div>
        <label id="ugurdianlbl">  NIC : </label><br>
        <input 
            required [(ngModel)]="parent.NIC" name="NIC" #NIC="ngModel"
            type="text" class="id" placeholder="this will be Your username"
        >
        <small class="warning" *ngIf="NIC.invalid || NIC.untouched">
            *feild required 
        </small>
    </div>

    <div>
        <label id="passwordlbl"> Password : </label><br>
        <input
            required [(ngModel)]="parent.password" name="password" #password="ngModel"
            type="password" placeholder="5-8 Characters" class="password"
        >
        <small class="warning" *ngIf="password.invalid || password.untouched">

            *feild required

        </small>

    </div>
    <div>
        <label id="cpasswordlbl"> Confirm Password : </label><br>
        <input 
            required ngModel name="cpassword" #cpassword="ngModel"
            type="password" placeholder="Re-Enter the password" class="password"
        >
        
        <small class="warning" *ngIf="(cpassword.value != password.value) && cpassword.touched">

            *password not matched and required
            parentregisterForm.form.invalid

        </small>
    </div>

    <small class="error" *ngIf="parentregisterForm.form.invalid && parentregisterForm.form.touched">

        ***fill the required feilds and submit the form ( --form incomplete --)
    </small>

    
        <button
        
        [disabled]=" ( cpassword.value != password.value ) || parentregisterForm.form.invalid" type="submit"
        > Submit Form </button>
    
</form>