<app-nav-bar></app-nav-bar><!--navigation bar-->
<app-anouncement></app-anouncement>
 
<!--container start-->
<div class="container">

    <!--row start-->
    <div class="row">

        <!--profile start-->
        <div class="col-md-5">
            <div style="text-align: center;">
                <svg class="bi bi-person-circle" width="50%" height="50%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path style="color: rgb(7, 71, 248);" d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path style="color: rgb(7, 71, 248);" fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
            </div><br>
        </div><!--- profile end -->

        <!-- user details start -->
        <div class="col-md-7 align-self-center" *ngFor = "let user of users" > 
            <div class="row" *ngIf = "user.password == id">
                <div class="col-md-4">
                    <h5>Teacher NIC </h5>
                    <h5>Teacher Name </h5>
                </div>
                <div class="col-md-6">
                    <h5>:-  {{id}}v</h5>
                    <h5 class="text-capitalize" >:-  {{user.name}} </h5>
                </div>
            </div>   
        </div><!-- user details end -->

        <!-- butons start -->
        <div class="col-md-12">
            <div class="row align-self-center" >
                <button class="btn btn-primary text-uppercase font-weight-bold" style="border: double;" (click)="update()" >update profile</button>
                <button class="btn btn-warning text-uppercase font-weight-bold" style="border: double;" (click)="updatequize(subjectteaching)" >update quize date</button><br>
                <button *ngIf ="!showgrade" class="btn btn-primary text-uppercase font-weight-bold" style="border: double;" (click)="updategrade()" >teach for</button>
                <button *ngIf ="showgrade" class="btn btn-warning text-uppercase font-weight-bold" style="border: double;" (click)="updategrade()" > hide teach for</button>
            </div>
        </div>
        <!-- butons end -->

    </div><!--row end-->
    <br>
    <!-- grades start -->
    <div *ngIf ="showgrade">
            <form [formGroup]="addForm">
                
                <label>Grade </label>
                <select  class="dropdown btn-info" (change)='onGradeSelected($event)'>
                    <option *ngFor="let garde of grades"> {{garde}}</option>
                </select><br>

                <label>Subjects Teaching : </label>
                <select class="dropdown btn-info" (change)='onSubjectSelected($event)'>
                    <option selected> select subject</option>
                    <option *ngFor="let subject of subjects"> {{subject.Name}}</option>
                </select><br>
                <button class="btn-success" (click)="grade()">add</button>
            </form>
    </div>
    <!-- grades end -->
<br>
    <div class="shadow-lg sm-3 mb-5 bg-white rounded border border-dark" style="padding: 2%; width: 50%; height: fit-content;" 
        *ngFor= "let subjectteaching of subjectsteaching">
        <div *ngFor= "let subject of subjects">
            <div *ngIf = "(id == subjectteaching.tID) && (subjectteaching.Sub_ID == subject.Sub_ID)">
                <div class="row">
                    <label class="col-md-6 text-capitalize">Subject Name : {{subject.Name}} </label>
                    <label class="col-md-6 text-capitalize">Grade : {{subjectteaching.Grade}} </label>
                </div>
                <!--quize start-->
                <div class="btn-group row" role="group" >
                    <button class="btn btn-primary" (click)="add(subjectteaching)" style="border: double">add quize</button>
                    <button class="btn-danger">drop grade</button>
                </div><!--quize end-->

            </div>
        </div>
    </div>

   

</div><!--container ends -->
