.bg{
    background:url('../../assets/background5.jpg') no-repeat center;
    background-size: cover ;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: auto;
}

.container{
    
    height: 100%;
    width: 100%;
    margin: 0%;
}

h1{
    margin: 0%;
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.abt{
    top: 0%;
    margin: 0.5% 0% 0% 0%;
    width: 3%;
    height: 2%;
}

h3{
    letter-spacing: 5px;
    text-align: left;
    margin: 0%;
    text-transform: uppercase;
    color: white;
}

.card-image{
    background-color: rgba(255, 255, 255, 0);
    border: ivory;
    height: 100%;
}
.row{
    padding-top: 1%;
}

.loginimage{
    position: relative;
    height: 100%;
    width: 100%;
    top: 0%;
    padding: 0%;
    margin: 0%;
}

.login{
    height: fit-content;
    text-align: justify;
    padding: 4%;
    background-color: rgba(16, 14, 160, 0.89);
}

label{
    font-family: sans-serif;
    font: bolder;
    margin: 2%;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
}
input{
    margin: 1.5%;
    padding: 1.5%;
    width: 60%;
    background: transparent;
    color: white;
}

.text-info{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.text-warning{
    font-style: italic;
    font-family: monospace;  
    color: red;
    text-transform: uppercase;
}

img, form{
    display: inline-block;
}