
body{
    background:url('../../assets/background.jpg') no-repeat center;
    background-size: cover ;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    margin: 0%;
    display: block;
    white-space: nowrap;
    overflow: visible;
}

h1{
    position: relative;
    top: 0%;
    right: 25%;
    bottom: 100%;
    left: 25%;
    width: 50%;
    text-align: left;
    font-size: 3.5em;
    letter-spacing: 4px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0%;

}

h2{
    position: relative;
    top: 0%;
    right: 10%;
    left: 50%;
    width: 50%;
    letter-spacing: 5px;
    text-align: left;
    margin: 0%;
    text-transform: uppercase;
}

.about{
    background-color: rgb(250, 0, 0);
    background-position: unset;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-0.5%, -0.5%);
    margin: 0.5% 0.5% 0% 0%;
    padding: 0.2%;
    width: 5%;
    height: 10%;
    
    
}

img.i{
    position: relative;
    width: 100%;
    height: 65%;
}

.block{
    background-position: unset;
    position: relative;
    left: 25%;
    top: 10%;
    width: 80%;
    align-content: center;
    margin: 0%;
    padding: 0%;
    display: inline-block;
}

.login{
    position: relative;
    height: 50%;
    width: 40%;
    top: 0%;
}

form{
    position: relative;
    height: 40%;
    width: 40%;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.801);
    border-bottom-left-radius: 25%;
    border-top-right-radius: 25%;
    margin: 0%;
}

label{
    position: relative;
    font-family: sans-serif;
    font-size: 1.2rem;
    font: bolder;
    margin: 2%;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-transform: uppercase;
    width: auto;
    top: 0%;
    right: 0%;
    left: 1%;
    bottom: 0%;
}

label.i{
    letter-spacing: 0px;
}

button{
    position: relative;
    font-size: 120%;
    margin: 1%;
    padding: .7% 1% .7% 1%;
    border-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    
}
input{
    margin: 1.5%;
    padding: 1.5%;
    width: 60%;
    background: transparent;
    color: white;

}

a{
    font-size: 120%;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(117, 117, 235);
    text-transform: uppercase;
}

.noaccount{
    font-style: italic;
    font-family: monospace;
}

img, form{
    display: inline-block;
}

.warning{
    color: red;
    opacity: 300%;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:100% ;
    letter-spacing: 2px;
}