body{
    background:url('../../assets/background.jpg') no-repeat center center;
    background-size: cover ;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 60px;
    opacity: 90%;
    letter-spacing: 10px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    text-align: center;
    margin-top: 0;
    margin-left: 50%;
    text-transform: uppercase;
}

.about{
    background-color: rgb(250, 0, 0);
    background-position: unset;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    padding: 0px;
    
    
}

.block{
    background-position: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    align-content: center;
}

img{
    height: 50%;
    width: 40%;
}

form{
    height: 40%;
    width: 40%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.801);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    
    
}

label{
    font-family: sans-serif;
    font-size: 20px;
    font: bolder;
    margin: 5px;
    color: white;
    letter-spacing: 3px;
}

button{
    font-size: 20px;
    margin: 5px;
    padding: 3px 10px 4px 10px;
    border-radius: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    
}
input{
    margin: 5px;
    padding: 5px;
    background: transparent;
    color: white;

}

a{
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(117, 117, 235);
    text-transform: uppercase;
}

.noaccount{
    font-style: italic;
    font-family: monospace;
}

img, form{
    display: inline-block;
}

img.i{
    width: 40px;
    height: 70px;
}

.warning{
    color: red;
    opacity: 300%;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px ;
    letter-spacing: 2px;
}