<form class="login">

    <button (click)="about(about)"></button>

    <!--inputs-->
    <div class="input">
        <label id="usernsme">User Name</label><br>
        <input type="text" placeholder="User name"><br>
        <label id="password">Password</label><br>
        <input type="password" placeholder="Password"><br>
    </div>
    <!--directves-->
    <div class="buttons">
        <a href="" id="fgt">forgot password...?</a><br>
        <button   (click) = "home(stdntcrete)" id="login">login</button><br>
        <button (click)= "create(crete)" id="signup">Sign up</button>
        <label id="no account">don't have an account</label>
    </div>
   
</form>