<html >
   
    
    <body class="back">
        <h1>A-Z English Academy</h1><!--title-->
        <h2>the place to achive dreams.........</h2>

        <div class="about">
            <img src="assets/about.png" (click)="about(about)" class="i">
            <label class="i">about</label><!--info-->
        </div>

        <div class="block">
   
            <img src="assets/login.png"><!--login image-->
            
            <form #loginForm="ngForm" class="login">
<!--{{loginForm.form.valid}}-->
                <div class="input">
                    <label id="usernsme">User Name</label><br>

                    <input 
                        type="text" required #name="ngModel" name="uname" placeholder="User Name"  ngModel
                    ><br>

                    <label id="password">Password</label><br>

                    <input 
                        required #name="ngModel" type="password" placeholder="5-8 Characters" name="password" ngModel
                    ><br>
                </div><!--inputs-->

                <small *ngIf="loginForm.form.invalid" class="warning">Sign-Up if You have not registered....</small>

                <div class="buttons">

                    <a href="" id="fgt">forgot password...?</a><br>

                    <button  [disabled]="loginForm.form.invalid"  (click) = "home(stdntcrete)"  class="login">login</button><br>

                    <button (click)= "create(crete)" class="signup">Sign up</button>

                    <label class="noaccount">don't have an account</label>

                </div><!--directves-->
            
            </form><!--login form-->
        </div>
    </body>
</html>