<nav class="navbar navbar-expand-lg d-flex flex-row-reverse " style="background: rgb(255, 255, 255); background-color: blue;">
    <div class="collapse navbar-collapse col-md-3" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
            <li class="nav-item">
            <a class="nav-link" href="../about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../login">Sign_out</a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler col-sm-3" type="button" style="color: white; border: 1px solid white;" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">menue</span>
    </button>
    <h2 class="font-weight-bold col-md-9 col-sm-9 " style="color: white;">A-Z english academy</h2>    
</nav>