.bg{
    background:url('../../assets/background.jpg') no-repeat center;
    background-size: cover ;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow: auto;
}

input{
    margin: 1.5%;
    padding: 1.5%;
    width: 100%;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

label{
    color: rgb(250, 206, 9);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 40px;
}
