<!--cretae announcements-->
<div class="bg">
    <form class="container"#anouncemntForm="ngForm" [formGroup]="anouncement"  (ngSubmit)= "onSubmit()" novalidate>
        <label>Heading1</label>
        <input name="Heading1" formControlName="Heading1" required 
        class="form-control text-primary" type="text" style="font-size: 2em;">

        <label>Sub Heading</label>
        <input name="Heading2" formControlName="Heading2" required
        class="form-control text-primary" type="text" style="font-size: 1.17em; ">

        <label>content</label>
        <input name="content" formControlName="content" required
        class="form-control" type="text" style="font-size: 1.17em; color:black">

        <br>
        <button class="btn btn-primary" type="submit">upload</button>
    </form>
</div>