<div class="container" *ngFor = "let listquize of listquizes;">
    <div class="container" *ngIf = "(listquize.subid == subid) && (listquize.quizzid == qid) ">
        <div class="row">
            <h5 class="col-md-12" style="background-color: rgba(243, 217, 98, 0.815);">Quize {{qid}} </h5>
            <h5 class="col-md-12" style="background-color:rgba(245, 245, 220, 0.61);">Grade : {{listquize.grade}} </h5>
            <h5 class="col-md-12" style="background-color: rgba(243, 217, 98, 0.815);">Dead line date : {{listquize.edate}} </h5>
        </div>
    
        <form class="container" #quizeForm="ngForm" [formGroup]="addForm" (ngSubmit)= "onSubmit()" novalidate >
            <div *ngFor = "let quize of quizes ; let i = 'index + 1'" >
                <div *ngIf = "quize.quizzid == qid" >
                    <br>
                    <div *ngIf = "(i &gt; 10) ; else other">
                        <h5 >{{i-10}}) {{quize.question}}</h5>
                        <input name="{{i-10}}" formControlName="{{i-10}}" type="radio" value="{{quize.answer1}}">{{quize.answer1}}<br>
                        <input name="{{i-10}}" formControlName="{{i-10}}" type="radio" value="{{quize.answer2}}">{{quize.answer2}}<br>
                        <input name="{{i-10}}" formControlName="{{i-10}}" type="radio" value="{{quize.answer3}}">{{quize.answer3}}<br>
                        <input name="{{i-10}}" formControlName="{{i-10}}" type="radio" value="{{quize.answer4}}">{{quize.answer4}}<br>
                    </div>
                    <ng-template #other>
                        <h5>{{i}}) {{quize.question}}</h5>
                        <input name="{{i}}" formControlName="{{i}}" type="radio" value="{{quize.answer1}}">{{quize.answer1}}<br>
                        <input name="{{i}}" formControlName="{{i}}" type="radio" value="{{quize.answer2}}">{{quize.answer2}}<br>
                        <input name="{{i}}" formControlName="{{i}}" type="radio" value="{{quize.answer3}}">{{quize.answer3}}<br>
                        <input name="{{i}}" formControlName="{{i}}" type="radio" value="{{quize.answer4}}">{{quize.answer4}}<br>
                    </ng-template><br>
                </div>
            </div>

            <button class="btn btn-success" onsubmit="save()">save</button>
        </form>
    </div>
</div>
