<div class="bg">
    <form class="container">
        <label>Heading</label>
        <input  class="form-control" type="text" style="font-size: 70px; color: mediumblue;">

        <label>Heading2</label>
        <input class="form-control" type="text" style="font-size: 40px; color: rgb(6, 245, 6);">

        <label>content</label>
        <input class="form-control" type="text" style="font-size: 20px; color: rgba(244, 248, 1);">

        <br>
        <button class="btn btn-primary" type="submit"  (click)="upload(anouncement)">upload</button>
    </form>
</div>