<h1>welcome {{ name }} </h1>
<hr>

<!--any new anouncemrs are posted-->
<div class="form-group">
    <label>anouncements</label>
</div>

<!--intended navigation bar-->
<nav>

    <div>
        <a href="/teacher-details" (click)="tchrdetails()" >teacher-details</a>
        <img>
    </div>

    <div>
        <a href="/studen-details" (click)="studen-details()" >student-details</a>
        <img>
    </div>
</nav>

<!--details neeede to be sown is displayed-->
<div>
    <label>{{details}}</label>
    <output></output>
</div>

<!--profile-->
<img><br>
{{name.toUpperCase()}}
<button>update profile</button>
<button (click)="signout(login)">Sign out</button>
<img src="">
<label>Childrens progress report</label>
<output></output>